main {
  min-height: 100%;
}

p,
label {
  font-size: inherit;
}

input,
select {
  font-size: inherit !important;
  line-height: inherit !important;
  height: inherit !important;
}

dl, ol, ul {
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin-left: 1.5em;

  li p {
    margin-bottom: 0 !important;
  }
}

.row {
  max-width: inherit;
}



.header {
  color: $brand-primary;

  a:hover {
    //color: $brand-primary !important;
    text-decoration: none !important;
  }

  h1 {
    color: $brand-primary;
    margin-bottom: 0;
  }

  h2,
  h3 {
    margin-bottom: 28px;
  }

  .logo {
    display: block;
    padding-top: 1.875rem;
    padding-bottom: .75rem;
    float: left;
    margin-top: 39px;
    margin-right: 20px;
    padding-top: 0;

    &:before {
      font-family: $ff-logo;
      content: "\e600";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: $logo-size;
    }

  }
}



.features {

  .feature-icon {
    width: 100%;
    position: relative;
    
    .border {
      border: 4px solid #ccc;
      margin-top: 50px;
      border-color: $brand-primary !important;
    }

    i {
      position: absolute;
      top: -20px;
      left: 15%;
      width: 60px;
      height: 40px;
      background: #fff;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      margin: 0px auto;
      color: $brand-primary !important;
    }

    
  }
}

.btn-home{
  margin-top: 40px;
}

.gray-bg.btns {
  margin-top: 1em;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid $gray-lightish;

  .btn {
    margin: 0 auto;
    @include button-variant($white, $gray-dark, $gray-darker);
    text-transform: uppercase;
    font-size: 1.2em;
    border-radius: 4px;
    font-family: $ff-alt;
    min-width: 230px;

    &.btn-primary {
      @include button-variant($white, $brand-primary, darken($brand-primary, 13.5%));
    }
  }
}

.jumbotron {
  p {
    font-size: inherit;
  }
}


.gray-bg{
  background: $gray-lightest;
  margin-top: 40px;
  padding-bottom: 40px;
}

.gray-dark-bg {
  background: $gray-lighter;
}

.premium-apps {
  .well {
    background-color: #fff;
    margin-top: .5em;
    cursor: pointer;
  }

  img {
    margin-top: 10px;
  }
}


.mailing-list {
  padding-bottom: 20px;

  .form-inline .form-control {
    margin-top: 10px;

    input[type="submit"] {
      border-radius: 4px !important;
    }
  }
}

.apps {

  .icon-wrapper {
    padding-top: 40px;
    text-align: center;
    cursor: pointer;
  }

  .app-icon {
    width:80px;
    height:80px;
    background:#ccc;
    border-radius: 20px;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    margin: 0px auto;
  }
}



.laptop-bg {
  width: 1250px;
  height: 756px;
  background: url(../images/helm-main.png) center no-repeat;
  background-size: contain;
  padding-top: 100px;
  padding-left: 352px;
  position: relative;

  .laptop-inner {
    width: 730px;
    height: 451px;
    background: #fff;
    background-size: cover;

    video {
      width: 100%;
      height: 100%;
    }
  }
}


.iphone-bg {
  width: 450px;
  height: 940px;
  background: url(../images/iphone-silver-cropped.png) center no-repeat;
  background-size: contain;
  padding-top: 133px;
  padding-left: 33px;

  iframe {
    width: 390px;
    height: 680px;
  }
}

.ipad-bg {
  width: 1270px;
  height: 880px;
  max-width: 100%;
  background: url(../images/ipad.png) center no-repeat;
  background-size: contain;
  padding-top: 105px;
  padding-left: 109px;

  iframe {
    width: 894px;
    height: 670px;
    overflow-y: hidden;
  }
}


iframe {
  overflow-y: scroll;
  overflow-x: hidden;
  border: none;
  background-color: white;
}

.contact-line {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 1em;
}

/*.features {
  a {
    @extend .btn;
    @extend .btn-default;
    display: block;
    margin: 0 auto;
    width: 40%;
  }
}*/