<div class="container heading">
  <h2>{{node.title}}</h2>
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>{{node.title}}</li>
  </ul>
</div>

<div class="jumbotron gray-border-top">
  <div class="container">

    <div class="container"><div class="well" ng-bind-html="node.body.value"></div></div>
    <div class="ipad-container">
      <h3 class="text-center demo-head hidden-xs">
        <i class="fa fa-thumbs-o-up"></i>Try it out
      </h3>
      <div class="text-center"><a ng-src="{{trustSrc(url)}}" class="btn-primary btn-lg btn visible-xs-inline-block">
        <i class="fa fa-thumbs-o-up"></i>Try it out
      </a></div>
      <div class="ipad-bg">
        <iframe ng-src="{{trustSrc(url)}}"></iframe>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <h3 class="contact-line">Contact us at <a href="mailto:hello@helmcivic.com">hello@helmcivic.com</a> for more information, a customized demo, and pricing.</h3>
</div>

<div class="container">
  <img src="http://placehold.it/1600x900&text=Video" width="1200" />
</div>




