<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h3>Citizens come to your website to get stuff done. Help them.</h3>

    <div class="row btns">
      <div class="col-md-6">
        <a href="#" class="btn btn-lg btn-primary" role="button">Live demo</a>
      </div>
      <div class="col-md-6">
        <a href="#" class="btn btn-lg btn-primary" role="button">Try it now <small>(for free)</small></a>
      </div>
    </div>

  </div>
</div>

<div class="container" ng-repeat="link in parentLinks">
  <children parent-link="link" links="links" nodes="nodes" api-url="{{apiUrl}}"></children>
</div>

